@model IEnumerable<MyWebApp21BITV03.Models.Product>

@{
	ViewData["Title"] = "Index";
}

<h1>Danh sách Hàng hóa</h1>

<p>
	<a asp-action="Create">Tạo mới</a>
</p>

<div class="text-danger">@ViewBag.Message</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.ID
				</td>
				<td>
					@item.Name
				</td>
				<td>
					@item.Price
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Sửa</a>
					<a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-delete" data-id="@item.ID">Xóa</a>
				</td>
			</tr>
		}
	</tbody>
</table>
@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		$(function () {
			$(".btn-delete").click(function (e) { 
				e.preventDefault();//ngăn chặn thay đổi link
				Swal.fire({
					title: 'Bạn có chắc xóa không?',
					showDenyButton: true,
					showCancelButton: true,
					confirmButtonText: 'Xóa ngay',
					denyButtonText: 'Không',
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.href = "/Product/Delete/" + $(this).data("id");
					}
				})
			});
		});
	</script>
}